*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./Image/images.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    opacity: 0.9;
}

.score-container {
    position: fixed;
    top: 10px;              
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-weight: bold;
    color: white;           
    z-index: 10;            
    
}